In [ ]:
#Q1. What is a database? Differentiate between SQL and NoSQL databases.

#A database is a structured collection of data that is organized and stored in a way that allows efficient retrieval, management, and manipulation of data. It provides a systematic approach to storing and retrieving information for various applications.

#SQL databases: These databases use structured query language (SQL) for defining and manipulating the data. They follow a predefined schema that determines the structure of the data and the relationships between different tables. SQL databases are typically used for structured data, such as in financial systems or applications that require strong consistency and complex querying capabilities. They provide ACID (Atomicity, Consistency, Isolation, Durability) properties, ensuring data integrity. NoSQL databases: These databases do not rely on a fixed schema and are designed to handle unstructured or semi-structured data. They provide a flexible data model that allows for scalability and agility. NoSQL databases are commonly used for handling large amounts of data with varying structures, such as social media feeds or real-time analytics. They prioritize scalability, availability, and partition tolerance (known as the CAP theorem) over strict consistency.

#Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

#DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) that deals with defining and managing the structure of a database and its objects. DDL statements are used to create, modify, and delete database objects such as tables, indexes, views, and schemas.
#CREATE: The CREATE statement is used to create new database objects. For example, you can create a table named "Employees" with columns like "ID," "Name," and "Salary" using the following SQL statement:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE if not exists   test3.test_table(Id INT, name varchar(50), salary decimal(10,2))")

mydb.close()

#DROP: The DROP statement is used to remove database objects. For instance, if you want to delete the "Employees" table created earlier, you can use the DROP TABLE statement:
#DROP TABLE Employees;
#ALTER: The ALTER statement is used to modify the structure of an existing database object. It allows you to add, modify, or delete columns in a table, change data types, or rename objects. 
#ALTER TABLE Employees 
# ADD Age INT;
#TRUNCATE: The TRUNCATE statement is used to delete all the data from a table while keeping its structure intact. It is faster and less resource-intensive than the DELETE statement, which removes rows one by one.
#TRUNCATE TABLE Employees;

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example
#. DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) that is used to manipulate and interact with the data stored in a database. DML statements are used to insert, update, and delete data from database tables. 
#INSERT: The INSERT statement is used to add new rows of data into a table. It allows you to specify the values for each column in the table.
#cursor.execute("INSERT INTO Employees (ID, Name, Salary) VALUES (1, 'Aakarsh', 5000.00)")
#UPDATE: The UPDATE statement is used to modify existing data in a table. It allows you to specify which rows to update and the new values to assign to specific columns.
#cursor.execute("UPDATE Employees SET Salary = 6000.00 WHERE ID = 1")
#DELETE: The DELETE statement is used to remove rows from a table based on specified conditions. It allows you to specify which rows to delete. 
#cursor.execute("DELETE FROM Employees WHERE ID = 1")
#Q4. What is DQL? Explain SELECT with an example.
# DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) that is used to retrieve and query data from a database. The most commonly used DQL statement is SELECT, which allows you to fetch data from one or more tables based on specified conditions.
#cursor.execute("SELECT * FROM Employees")
#rows = cursor.fetchall()
#for row in rows:
   # print(row)
#Q5. Explain Primary Key and Foreign Key.
#a primary key uniquely identifies each record in a table, while a foreign key establishes relationships between tables by referencing the primary key of another table. These key constraints play a vital role in maintaining data integrity and facilitating the proper organization of data within a relational database.
import mysql.connector

# Connect to the MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
)
# The cursor() method creates a cursor object that allows you to execute SQL statements and retrieve data from the MySQL database. The cursor acts as a control structure that facilitates the interaction between Python and the database.
#The execute() method of the cursor object is used to execute SQL statements or queries. It takes the SQL statement as a parameter and executes it in the MySQL database. You can pass the SQL statement as a string to the execute() method.
SELECT: The SELECT clause specifies the columns to be retrieved from the database.

FROM: The FROM clause indicates the table(s) from which to retrieve the data.

WHERE: The WHERE clause filters the rows based on specified conditions.

GROUP BY: The GROUP BY clause is used to group the result set based on one or more columns.

HAVING: The HAVING clause filters the grouped rows based on specified conditions.

ORDER BY: The ORDER BY clause sorts the result set based on specified columns.

LIMIT/OFFSET: The LIMIT clause specifies the maximum number of rows to be returned, while the OFFSET clause skips a specified number of rows in the result set.